{% extends "sort_table.html" %}

{% block app_content %}
<table id="batters"
	   class="table table-striped table-bordered sort-table"
	   data-order='[[0, "asc"]]'>
	<thead>
		<tr>
			<th>Name</th>
			<th>G</th>
			<th>AB</th>
			<th>R</th>
			<th>H</th>
			<th>2B</th>
			<th>3B</th>
			<th>HR</th>
			<th>RBI</th>
			<th>SB</th>
			<th>CS</th>
			<th>SO</th>
			<th>BB</th>
			<th>HBP</th>
			<th>SF</th>
			<th>BA</th>
			<th>OBP</th>
			<th>SLG</th>
			<th>OPS</th>
		</tr>
	</thead>
	<tbody>
		{% for player in players %}
		<tr>
			<td data-order="{{ player[1]['sortname'] }}">
				<a href="{{ url_for('batter_games', player_id=player[0]) }}">
					{{ player[1]['name'] }}
				</a>
			</td>
			<td>{{ player[1]['g'] }}</td>
			<td>{{ player[1]['ab'] }}</td>
			<td>{{ player[1]['r'] }}</td>
			<td>{{ player[1]['h'] }}</td>
			<td>{{ player[1]['2b'] }}</td>
			<td>{{ player[1]['3b'] }}</td>
			<td>{{ player[1]['hr'] }}</td>
			<td>{{ player[1]['rbi'] }}</td>
			<td>{{ player[1]['sb'] }}</td>
			<td>{{ player[1]['cs'] }}</td>
			<td>{{ player[1]['so'] }}</td>
			<td>{{ player[1]['bb'] }}</td>
			<td>{{ player[1]['hbp'] }}</td>
			<td>{{ player[1]['sf'] }}</td>
			<td {% if player[1]['ba'] == ".---" %} data-value="-1" {% endif %}>{{ player[1]['ba'] }}</td>
			<td {% if player[1]['obp'] == ".---" %} data-value="-1" {% endif %}>{{ player[1]['obp'] }}</td>
			<td {% if player[1]['slg'] == ".---" %} data-value="-1" {% endif %}>{{ player[1]['slg'] }}</td>
			<td {% if player[1]['ops'] == ".---" %} data-value="-1" {% endif %}>{{ player[1]['ops'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock app_content %}