{% extends "base.html" %}

{% block app_content %}
    <h1>Select Game</h1>
	{% if games %}
	<table class="table">
		<thead>
			<tr>
				<th>Away Team</th>
				<th>Away Score</th>
				<th>Home Team</th>
				<th>Home Score</th>
				<th>Add Game</th>
			</tr>
		</thead>
		<tbody>
			{% for game in games %}
				<tr>
					<td>{{ game[0].away_team }}</td>
					<td>{{ game[0].away_score }}</td>
					<td>{{ game[0].home_team }}</td>
					<td>{{ game[0].home_score }}</td>
					<td>
						{% if game[1] %}
							<span class="badge badge-secondary">Added</span>
						{% else %}
							<a href="{{ url_for('add_game', game_pk=game[0].game_pk, date=game[0].date) }}" class="badge badge-success">Add Game</a>
						{% endif %}
						</td>
						
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<div><p>No games found</p></div>
	{% endif %}
{% endblock %}