{% extends "sort_table.html" %}

{% block app_content %}
    <h1>User: {{ current_user.username }}</h1>
	<hr>
	{% if games|length > 0 %}
	<table id="games"
	       class="table table-striped table-bordered sort-table"
	       data-order='[[0, "asc"]]'>
		<thead>
			<tr>
				<th>Date</th>
				<th>Away Team</th>
				<th>Away Score</th>
				<th>Home Team</th>
				<th>Home Score</th>
				<th data-orderable="false">Delete</th>
			</tr>
		</thead>
		<tbody>
			{% for g, gd in games %}
				<tr>
					<td>
						<a href="{{ url_for('game_stats', game_pk=gd.game_pk) }}">
							{{ gd.date_with_dh() }}
						</a>
					</td>
					<td>{{ gd.away_team }}</td>
					<td>{{ gd.away_score }}</td>
					<td>{{ gd.home_team }}</td>
					<td>{{ gd.home_score }}</td>
					<td><a href="{{ url_for('rm_game', game_pk=gd.game_pk) }}" class="badge badge-danger">
						Delete
					</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No Games Found</p>
	{% endif %}
{% endblock %}