{% extends "sort_table.html" %}

{% block app_content %}
<h1>{{ name }}</h1>
<table id="games"
	   class="table table-sm table-striped table-bordered table-hover sort-table"
	   data-order='[[0, "asc"]]'>
	<thead>
		<tr>
			<th>Date</th>
			<th>W</th>
			<th>L</th>
			<th>GS</th>
			<th>GF</th>
			<th>SV</th>
			<th>IP</th>
			<th>H</th>
			<th>R</th>
			<th>ER</th>
			<th>HR</th>
			<th>BB</th>
			<th>SO</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		<tr>
			<td>{{ row[2]['date'] }} {% if row[2].dh_status %}({{row[2].dh_status}}){% endif %}</td>
			<td>{{ row[1]['w'] }}</td>
			<td>{{ row[1]['losses'] }}</td>
			<td>{{ row[1]['gs'] }}</td>
			<td>{{ row[1]['gf'] }}</td>
			<td>{{ row[1]['sv'] }}</td>
			<td>{{ row[3] }}</td>
			<td>{{ row[1]['h'] }}</td>
			<td>{{ row[1]['r'] }}</td>
			<td>{{ row[1]['er'] }}</td>
			<td>{{ row[1]['hr'] }}</td>
			<td>{{ row[1]['bb'] }}</td>
			<td>{{ row[1]['so'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}