{% extends "sort_table.html" %}

{% block app_content %}
<h1>{{ name }}</h1>
<table id="games"
	   class="table table-sm table-striped table-bordered table-hover sort-table"
	   data-order='[[0, "asc"]]'>
	<thead>
		<tr>
			<th>Date</th>
			<th>Decision</th>
			<th>GS</th>
			<th>GF</th>
			<th>IP</th>
			<th>H</th>
			<th>R</th>
			<th>ER</th>
			<th>HR</th>
			<th>BB</th>
			<th>SO</th>
		</tr>
	</thead>
	<tbody>
		{% for row in rows %}
		<tr>
			<td>
				<a href="{{ url_for('game_stats', game_pk=row[2].game_pk) }}">
					{{ row[2].date_with_dh() }}
				</a>
			</td>
			<td>{{ row[1].get_decision() }}</td>
			<td>{{ row[1]['gs'] }}</td>
			<td>{{ row[1]['gf'] }}</td>
			<td>{{ row[1].get_innings_pitched() }}</td>
			<td>{{ row[1]['h'] }}</td>
			<td>{{ row[1]['r'] }}</td>
			<td>{{ row[1]['er'] }}</td>
			<td>{{ row[1]['hr'] }}</td>
			<td>{{ row[1]['bb'] }}</td>
			<td>{{ row[1]['so'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}