{% extends "sort_table.html" %}

{% block app_content %}
<table id="pitchers"
       class="table table-sm table-striped table-bordered table-hover sort-table"
       data-order='[[0, "asc"]]'>
	<thead>
		<tr>
			<th>Name</th>
			<th>W</th>
			<th>L</th>
			<th>G</th>
			<th>GS</th>
			<th>GF</th>
			<th>SV</th>
			<th>IP</th>
			<th>H</th>
			<th>R</th>
			<th>ER</th>
			<th>HR</th>
			<th>BB</th>
			<th>SO</th>
			<th>ERA</th>
		</tr>
	</thead>
	<tbody>
		{% for player in players %}
		<tr>
			<td data-order="{{ player[1]['sortname'] }}">
				<a href="{{ url_for('pitcher_games', player_id=player[0]) }}">
					{{ player[1]['name'] }}
				</a>
			</td>
			<td>{{ player[1]['w'] }}</td>
			<td>{{ player[1]['losses'] }}</td>
			<td>{{ player[1]['g'] }}</td>
			<td>{{ player[1]['gs'] }}</td>
			<td>{{ player[1]['gf'] }}</td>
			<td>{{ player[1]['sv'] }}</td>
			<td>{{ player[1]['ip'] }}</td>
			<td>{{ player[1]['h'] }}</td>
			<td>{{ player[1]['r'] }}</td>
			<td>{{ player[1]['er'] }}</td>
			<td>{{ player[1]['hr'] }}</td>
			<td>{{ player[1]['bb'] }}</td>
			<td>{{ player[1]['so'] }}</td>
			<td {% if player[1]['era'] == '-.--' %} data-order="-1" {% else %} data-order="{{player[1]['era']}}" {% endif %}>{{ player[1]['era'] }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<a href="{{ url_for('pitcher_stats_json') }}" class="badge badge-primary">Export as JSON</a>
{% endblock %}