{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.bootstrap_3.css') }}">
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.tablesorter.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.tablesorter.widgets.js') }}"></script>
	<script>
		$(function() {
		  $(".tablesorter-bootstrap").tablesorter({widgets: ["zebra"]});
		});
	</script>
{% endblock %}